
$mobile_breakpoint: 768px;
$content_width: 72rem;
$main_content_width: 64rem;

$border: 2px solid red;

$background_color:#1f1f1f;
$text_color: #f3f3f3;
$footer_text: #979797;
$footer_text_alpha: rgba(151,151,151,.18);
$theme_color: #ca2828;

$section_padding: 1rem 1rem 3rem;

$sans_serif_font: 'Raleway', 'Arial', sans-serif;
$serif_font: 'Lora', 'Times New Roman', serif;

$h1_header: 5.063rem;
$h2_header: 3.375rem;
$h3_header: 2.25rem;
$font_larger: 1.5rem;
$font_reg: 1rem;
$font_small: 0.667rem;

*:not(svg) {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.overlay_class {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 11;
}

body {
    margin: 0;
    padding: 0;
    color: $text_color;
    line-height: 1.33;
    font-family: $serif_font;
    font-size: 100%;
    ul {
        padding: 0;
        list-style-type: none;
        li {
            display: block;
            padding: 1rem;
            border-bottom: 1px solid white;
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus {
            cursor: pointer;
            color: $text_color;
        }
    }
}

main {
    color: $background_color;
    padding: $section_padding;
    margin: 1rem auto 4rem;
    max-width: $main_content_width;
    p {
        font-size: $font_larger;
    }
}

h1, h2, h3, h4 {
    font-family: $sans_serif_font;
    text-transform: uppercase;
}

h1 {
    font-size: $h1_header;
}

h2,
.h2 {
    font-size: $h2_header;
}

h3,
.h3 {
    font-size: $h3_header;
}

h4,
.h4 {
    font-size: $font_larger;
}

@media screen and (min-width: $mobile_breakpoint) {
    .section_inner {
        margin: 0 auto;
        width: 100%;
        max-width: $content_width;
    }

}

.section_padding_mobile {
    padding: $section_padding;
    
}

#main_navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 111;
    transform: translateX(-150%);
    background-color: $background_color;
    color: $text_color;
    transition: transform .75s ease;
    border-right: 2px solid $footer_text;
    text-transform: uppercase;
    font-family: $sans_serif_font;
    &.menu-active {
        transform: translateX(0);
        transition: transform .75s ease;
        z-index: 1111;
    }
    ul {
        list-style-type: none;
        padding: 2rem;
    }
    li {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid $footer_text_alpha;
        font-size: $font_reg;
        a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: 1px 1px $background_color;
            &:hover,
            &:focus {
                color: $footer_text;
            }
        }
    }
    @media screen and (min-width: $mobile_breakpoint) {
        position: relative;
        transform: none;
        transition: none;
        background-color: unset;
        border-right: none;
        ul {
            padding: 1rem;
        }
        li {
            display: inline-block;
            padding: 1rem;
            border: none;
        }
    }
}

#main_footer {
    background-color: $background_color;
    color: $text_color;
    padding: 1rem;
    icon_box__wrapper {
        font-family: $sans_serif_font;
    }

    #brand_footer > p, 
    .icon_box__icon_wrapper,
    .icon_box__title,
    #copyright {
        color: $footer_text
    }

    .icon_box__title {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: $font_reg;
    }

    .icon_box__description {
        font-family: $sans_serif_font;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .flex_parent {
        padding: 3rem 0;
        .flex_child {
            margin-bottom: 3rem;
        }
    }

    .icon_box__box_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        .icon_box__content,
        .icon_box__icon_wrapper {
            text-align: center;
            flex-basis: 100%;
        }
        .icon_box__description a:hover {
            color: $footer_text;
        }
        .icon_box__icon_wrapper {
            font-size: 1.5rem;
            color: $footer_text;
        }
        .fa_icon {
            font-size: 1.5rem;
            border: 1px solid $footer_text;
            border-radius: 50%;
            padding: 1rem;
        }
        @media screen and (min-width: $mobile_breakpoint) {
            flex-wrap: nowrap;
            align-items: center;
            .icon_box__icon_wrapper {
                flex: 0 1 50%;
                text-align: center;
                padding: 1rem;
            }
            .icon_box__content {
                text-align: unset;
            }
        }
    }

    #main_footer_nav {
        text-align: center;
        color: $footer_text;
        text-transform: uppercase;
        font-family: $sans_serif_font;
        // font-weight: bold;
        letter-spacing: 1px;
        ul {
            padding: 0 1rem;
            li {
                border-bottom: none;
            }
        }
    }
    #copyright {
        display: block;
        text-align: center;
        margin-top: 1rem;
        font-size: $font_small;
    }
    @media screen and (min-width: $mobile_breakpoint) {
        .flex_parent {
            display: flex;
            justify-content: space-between;
            > .flex_child {
                flex-basis: 30%;
                &:not(:first-of-type) {
                    border-left: 1px solid $footer_text_alpha;
                }
            }
        }
        
    }
}

.banner {
    border: 2px solid green;
    text-align: center;
}

.grid_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1.5rem;
    div > p {
        margin-top: 0;
    }
}

.button_group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text_italic {
    font-style: italic;
}

.page_img {
    max-width: 30rem;
}

.sans_serif {
    font-family: $sans_serif_font;
}

.address_section {
    text-align: left;
    // padding: 0 1rem;
    font-size: $font_reg;
    font-family: $sans_serif_font;
    p {
        font-family: inherit;
    }
    > * {
        font-size: inherit;
    }
}

/**
 * Helper Classes 
 */

/* accessibility */
.screen_reader_text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.hidden {display:none;}
.center { text-align: center; }