@import "../styles/global.scss";

.theme_button {
    max-width: 20rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0;
    background-color: $background_color;
    color: $text_color;
    border: 1px solid $background_color;
    > a {
        display: block;
        padding: 1rem;
        &:hover {
            color: $footer_text;
        }
    }
}