@import "../../styles/global.scss";

$hamburger-layer-color: $text-color;

/* import hamburger styles */
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

#mobile_nav_btn {
    padding: .5rem;
    align-self: center;
    margin-left: 1rem;
    &:hover,
    &:focus {
        cursor: pointer;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    #mobile_nav_btn {
        display: none;
    }
}