@import "../../styles/global.scss";

#page_banner {
    background-color: $background_color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/services.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    #banner_overlay {
        @extend .overlay_class;
    }

    &.contact{
        background-image: url('../../images/contact_us.jpg');
        background-position: 75% center;
    }
    .page_banner__headline_wrap {
        z-index: 111;
    }
    .page_banner__headline {
        text-align: center;
        color: $text_color;
        margin: 0;
        text-transform: uppercase;
        padding: 0 1rem;
        text-shadow: 1px 1px $background_color;
    }
    &.full_height, &.half_height {
        height: 50vh;
        position: relative;
    }
    @media screen and (min-width: $mobile-breakpoint) {
        &.full_height {
            height: 100vh;
        }
    }
}